<div class="grid pad-3 col-12">

    <table class="col-12" mat-table #table [dataSource]="dataSource">

        <!-- id -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> PICK-UP ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- client Name -->
        <ng-container matColumnDef="clientName">
            <th mat-header-cell *matHeaderCellDef> CLIENT NAME </th>
            <td mat-cell *matCellDef="let row"> {{row.address.firstName}} </td>
        </ng-container>

        <!-- pick up Location -->
        <ng-container matColumnDef="pickUpLocation">
            <th mat-header-cell *matHeaderCellDef> PICK-UP LOCATION </th>
            <td mat-cell *matCellDef="let row"> {{row.address.zip}} </td>
        </ng-container>

        <!-- pick up TIme -->
        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> PICK-UP TIME </th>
            <td mat-cell *matCellDef="let row"> {{row.pickUpTime}} </td>
        </ng-container>

        <!-- link -->
        <ng-container matColumnDef="link">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let row"> <a mat-button routerLink="/detail/pick-up-id/{{row.id}}">view</a></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>