
<div class="pad-3 grid font-large">
    <mat-card class="col-8">
        <div  class="pad-2">
            <div class="font-small font-bold">
                Shipment Id-
            </div> 
            <!-- id -->
            <span class="f-right">
                {{pickUp.id}} 
            </span>
        </div>
        <mat-divider></mat-divider>
        <div  class="pad-2"> 
            <div class="font-small font-bold">
                Client Name- 
            </div> 
            <!-- name -->
            <span class="f-right">
                {{pickUp.address.firstName}} 
            </span>
            <!-- last name -->
            <span *ngIf="pickUp.address.lastName">
                {{pickUp.address.lastName }}
            </span>
        </div>
        <mat-divider></mat-divider>
        <div  class="pad-2"> 
            <div class="font-small font-bold">
                Address-   
            </div>
            <!-- zip -->
            <span class="f-right">
                {{pickUp.address.zip}} 
            </span>
            <!-- street -->
            <span *ngIf="pickUp.address.street">
                , {{pickUp.address.street}}
            </span>

            <!-- state -->
            <span *ngIf="pickUp.address.state">
                , {{pickUp.address.state}}
            </span>
            <!-- country -->
            <span *ngIf="pickUp.address.country">
                , {{pickUp.address.country}}.
            </span>
        </div>
        

        <!-- contact details -->
        <div *ngIf="pickUp.address.phoneNumber|| pickUp.address.email" class="pad-2">
            <mat-divider></mat-divider>
            <div class="font-small font-bold">
                Contact-
            </div>
            <span *ngIf="pickUp.address.phoneNumber" >
                {{pickUp.address.phoneNumber}}
            </span>
        </div>
        <!-- alt phone Number -->
        <span *ngIf="pickUp.address.altPhoneNumber" >
            {{pickUp.address.altPhoneNumber}}
        </span>
    </div>
        
        <!--  -->
    </mat-card>
</div>